@media screen and (min-width: 0) {
    .destaques__secundario:nth-child(2), .destaques__secundario:nth-child(3), .destaques__secundario:nth-child(4), .destaques__secundario:nth-child(5) {
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__categorias, .destaques__principal {
        grid-column: 1 / 5;
    }

    .menu__links{
        flex-wrap: wrap;
        padding: 1rem 0;
    }

}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {}

@media screen and (min-width: 1220px) {}